th {
  border: 1px solid black;
  border-right-style: none;}
td {
  border: 1px solid black;
  border-top-style: none;
  border-right-style: none;
  padding: 1rem;}
.celda {border: 1px solid black;}
.celda2 {
  border: 1px solid black;
  border-top-style: none;}
.celda3 {border-style: none;}
.mapa 
   {width: 10rem;
    height: 10rem;
    align-items: end;}
  
body 
    {background-color: rgb(241, 241, 110);
    font-size: large;
    font-style: calibri;
    margin: 1rem;}
  
section
  {display: flex; justify-content: space-between;
   column-count: 2;}

h1 
    {font-family: 'Calligraffitti', cursive;
    color: brown;
    font-size: xx-large;}

/*1 rem= 10px*/
img 
  {background-color: beige;
  height: 10rem;
  width: 10rem;}